@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body, input {
  font-family: "Poppins";
  background-image: url("../images/parquet.jpg");
  margin: 0px;
}

p {
  margin: 0px;
}

#cards-container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  .card-cont {
    height: 449px;

    .toy-card {
      background-color: rgb(255, 145, 0);
      display: flex;
      flex-direction: column;
      width: 250px;
      border-radius: 20px;
      font-size: 12px;
      transition: 0.2s;
      position: relative;
      // transform: rotateY(130deg);

      // &::after {
      //   content: "";
      //   background-color: #575757;
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      //   z-index: -10;
      // }

      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4039215686);

        .toy-card__image {
          img:nth-child(2) {
            transform: translateX(-50%) scale(1.15);
            bottom: 23px;
            left: 50%;
          } 
        }

        .toy-card__description {
          border-radius: 0px;
        }

        .toy-card__unit-stats {
          height: 82.5px;
        }
      }

      .toy-card__image {
        position: relative;

        :nth-child(2) {
          position: absolute;
          height: 94%;
          left: 50%;
          transform: translateX(-50%);
          bottom: 5px;
          transition: 0.2s;
        }

        :nth-child(1) {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          left: 0;
          width: 100%;
        }
      }

      .toy-card__name {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-weight: bold;
          text-align: center;
          font-size: 18px;
        }
      }

      .toy-card__description {
        background-color: #fff;
        color: #9c9c9c;
        text-align: center;
        padding: 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 0.2s;
        height: 55px;
      }

      .toy-card__unit-stats {
        display: flex;
        justify-content: space-around;
        color: #fff;
        height: 0px;
        overflow: hidden;
        transition: 0.2s;

        hr {
          background-color: #575757;
          border: #575757;
          width: 1px;
          margin: 0px;
        }

        .one-third {
          width: 33%;
          padding: 15px 0px;

          .stat {
            display: flex;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
          }

          .stat-value {
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
    }
  }
}